* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background: #ba0000;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    background-color: white;
    color: black;
}

nav ul li ul {
    background: #ba0000;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 300px;
    border-bottom: 1px solid white;
}

nav ul li ul li a {
    padding: 10px;
}

nav ul li ul li a:hover {
    background-color: white;
    color: black;
}

::content {
    margin-top: 60px;
    padding: 20px;
}